/* -------------------------MY CSS----------------------*/
.navbar-brand.logo_h {
  width: 425px;
}
/* -------------------------HOME SECTION STARTING----------------------*/
.fill-image {
  width: 100%;
  height: auto;
}
.col-lg-6.col-md-4.col-sm-6 img {
  max-width: 600px;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.col-lg-6.col-md-4.col-sm-6 {
  width: 600px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: none;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media only screen and (max-width: 767px) {
  .col-lg-6.col-md-4.col-sm-6 {
    height: 200px;
    width: 240px;
  }
}
@media (max-width: 575px) {
  .col-lg-6.col-md-4.col-sm-6 {
    margin: 0px auto;
    margin-bottom: 20px;
  }
}
.col-lg-6.col-md-4.col-sm-6 {
  vertical-align: middle;
}
.col-lg-6.col-md-4.col-sm-6:hover img {
  filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -webkit-filter: brightness(0%);
}
.col-lg-6.col-md-4.col-sm-6:hover {
  border: 1px solid transparent;
  box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
}
/* -------------------------HOME SECTION ENDING----------------------*/
/* -------------------------ABOUT SECTION STARTING----------------------*/

.navbar-brand.logo_h img {
  width: 300px;
}
/* -------------------------MY CSS ENDING----------------------*/
